# --- Telegram ---
TOKEN=
TECH_CHANNEL_ID=-1003498991864
MASTER_USERNAME=master_prokolyaski
MY_CHANNEL_ID=-1003540154410
ADMIN_TELEGRAM_ID=6179186123
START_POST=28
AI_POST=35
GUIDE_POST=105
RULES_POST=105
MANUAL_POST=105
MANUAL2_POST=105



# --- PostgreSQL ---
DB_URL=postgresql+asyncpg://имяБД:пароль@localhost:5432/имяБД

#для докера
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=

# --- Redis ---
REDIS_PASSWORD=
# REDIS_HOST и REDIS_PORT тоже не пиши здесь (ТОЛЬКО для ЛОКАЛКИ), они переопределяются в docker-compose
REDIS_HOST=localhost
REDIS_PORT=6379


# --- OpenAI / Платежи и прочее ---
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=live

OPENAI_API_KEY=
ASSISTANT_ID=

GOOGLE_API_KEY=

#WEBHOOK_HOST=https://bot.mastermanifest.ru
WEBHOOK_HOST=https://625b-77-238-224-36.ngrok-free.app

DEBUG=True